script(src="/assets/js/app.js")

script(src="/assets/js/controllers/AppController.js")
script(src="/assets/js/controllers/HomeController.js")

script(src="/assets/js/services/ViewService.js")
script(src="/assets/js/services/AuthService.js")