script(src="/assets/js/app.js")

script(src="/assets/js/controllers/AppController.js")
script(src="/assets/js/controllers/CallbackController.js")
script(src="/assets/js/controllers/HomeController.js")
script(src="/assets/js/controllers/UserController.js")

script(src="/assets/js/services/ViewService.js")
script(src="/assets/js/services/AuthService.js")
script(src="/assets/js/services/UsersModelService.js")

script(src="/assets/js/components/UsersComponent.js")
script(src="/assets/js/components/UserComponent.js")