h1 Users

.row
  
  .col-xs-12.col-md-4
    ul
      li(ng-repeat="user in $ctrl.users")
        a(ui-sref="people.user({ username: user.username })") {{user.username}}
  
  .col-xs-12.col-md-8
    ui-view
