@mixin centered-block($width: 100%, $height: auto) {
  
  $offset-top: $height /2 ;
  display: block;
  width: $width;
  height: $height;
  position: relative;
  top: calc(50% - #{$offset-top});
  
  @if($width != 100%) {
    $offset-left: $width /2 ;  
    left: calc(50% - #{$offset-left});
  }@else {
    text-align: center;
  }
  
}

@mixin hide() {
  display: none;
  visibility: 0;
}

@mixin show($d:block) {
  display: $d;
  visibility: 1;
}